In [1]:
#float datatype : (0,1,2,3,4,5,6,7,8,9,.) and Base =11
#flaot constructor is float()
#float literal is 0.0

a=10.0
b=10.76
c=11.98
d=76.
f=27.

print(type(a))

<class 'float'>

In [2]:
print(type(f))

<class 'float'>

In [3]:
print(type(d))

<class 'float'>

In [5]:
#it means we write a float value like all these 10.00, 10., 10.675 etc all are correct..
 
#Now for the empty float datatype:

a=float()
print(a)

0.0

In [6]:
print(type(a))

<class 'float'>

In [7]:
c=0.0
print(c)

0.0

In [9]:
print(type(c))

<class 'float'>

In [10]:
#in this way we can make empty float value by two different values...


#What is the datatype of a=2e10...

a=2e10
print(type(a))

<class 'float'>

In [11]:
#because e is the exponent value here the value of e is 10.0 and we can also write this as a=2*10*10

a=2*10*10
print(type(a))

<class 'int'>